*{
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', sans-serif;
}
#main1{
    height: 100vh;
}
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 93, 67);
    color: white;
    padding: 10px 100px 10px 100px;
    align-items: center;
}
#navbar input{
    height: 30px;
    width: 350px;
    padding: 0px 0px 0px 20px;
}
#hero{
    display: flex;
    height: 90vh; 
}
#dashboard{
    background-color: rgba(48, 142, 104, 0.986);
    color: white;
    height: 100%;
    width: 20%;
    padding: 30px 0px 0px 0px;
}
#dashboard div{
    padding: 15px 30px 15px 30px;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}
#dashboard div:hover{
    background-color: white;
    color: rgba(48, 142, 104, 0.986);
}


#main{
    background-color: rgba(48, 142, 104, 0.986);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    right: 15%;
    display: none;
}
#main section{
    background-color: rgb(15, 93, 67);
    padding: 20px 50px 50px 50px;
    height: fit-content;
    box-shadow: 0px 0px 10px  rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
}

/* heding  */
#main section h1{
    text-align: center;
    margin-bottom: 30px;
}

/* input */
#main section input{
    margin: 5px 0px 15px 0px;
    width: 300px;
    height: 30px;
    border: none;
}

/* button */
button{
    margin-bottom: 20px;
    border: none;
    width: 100px;
    height: 40px;
    box-shadow: 0px 0px 3px;
    border-radius: 5px;
}

/* have and dont have href */
a{
    text-decoration: none;
    color: rgb(13, 13, 136);
}
span{
    color: red;
}
#Signupform{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
}
.fa-user{
    height: 25px;
    width: 25px;
    background-color: white;
    color: rgb(15, 93, 67);
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    margin-top: 5px;
    transition: background-color 0.3s ease;
    
}
.fa-user:hover{
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}

#mainedit{
    background-color: rgba(48, 142, 104, 0.986);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    right: 25%;
    display: none;
}

#mainedit section{
    background-color: rgb(15, 93, 67);
    padding: 20px 50px 50px 50px;
    height: fit-content;
    box-shadow: 0px 0px 10px  rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
}

#mainedit section h1{
    text-align: center;
    margin-bottom: 30px;
}

#showdata #tabledata {
    align-items: center;
    width: 100%;

}
#table1{
position: absolute;
left: 25%;
top: 15%;
padding: 40px;
/* overflow: scroll; */
}
#table1 thead tr {
    background-color: rgba(48, 142, 104, 0.986);
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  #table1 th, #table1 td {
    padding: 20px 65px;
    border: 1px solid rgb(221, 221, 221);
  }
  
  #table1 tbody tr:nth-of-type(even) {
    background-color: rgb(191, 191, 191);
  }
  
  #table1 tbody tr:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
  }
  #table1 tbody tr i{
    margin-right: 5px;
    /* border: 1px solid black; */
  }
  #table1 tbody tr .fa-trash-can-arrow-up{
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
    padding: 7px;
    border-radius: 50%;
  }
  #table1 tbody tr .fa-trash-can-arrow-up:hover{
    color: red;
    background-color: rgb(191, 191, 191);
  }
  #table1 tbody tr .fa-pen-fancy{
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
    padding: 7px;
    border-radius: 50%;
  }
  #table1 tbody tr .fa-pen-fancy:hover{
    color: rgba(48, 142, 104, 0.986);
    background-color: rgb(191, 191, 191);
  }
  #table1 body{
    height: 400px;
    overflow: scroll;
  }
  .fa-x{
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    transition: color 0.3s ease;
  }
  .fa-x:hover{
   color:  rgb(191, 191, 191);
   
  }
#btndiv{
    width: 100%;
}
#btnadd
{
   position: absolute;
   left: 55%;
   top: 84px;
   background-color: rgb(15, 93, 67);
   color: rgb(255, 255, 255);
   box-shadow: 0px 0px 3px black;
   transition: background-color 0.3s ease;
   cursor: pointer;
}
#btnadd:hover{
    
    background-color: rgba(48, 142, 104, 0.986);
    box-shadow: 0px 0px 1px black;
    
    
}
#prodata{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    color: rgb(15, 93, 67);
}
#usermessage{
    position: absolute;
    top: 50px;
    right: 75px;
}

/* -----------------------about */

#about {
    background-color: rgb(244, 244, 244);
    padding: 60px 20px;
    text-align: center;
    display: none;
  }
  
  .aboutcontainer {
    width: 100%;
    margin: 0 auto;
    
    color: #333;
  }
  
  #about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: rgba(48, 142, 104, 0.986);
  }
  
  #about p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  #btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: rgba(48, 142, 104, 0.986);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  #btn:hover {
    background-color: rgb(15, 93, 67);
  }

  /* contact */

  #help {
    background-color: rgb(244, 244, 244);
    padding: 60px 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    display: none;
    width: 100%;
  }
  
  #help1 {
    width: 100%;
    margin: 0 auto;
  }
  
  #helpheading {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  #helpdescription {
    font-size: 18px;
    line-height: 1.6;
  }
  
  #faq {
    text-align: left;
    margin-top: 20px;
  }
  #faq div h3{
    margin-top: 10px;
  }
  
 
  #contactbtn {
    background-color: rgba(48, 142, 104, 0.986);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #contactbtn:hover {
    background-color: rgb(15, 93, 67);
  }